/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sfondo-scuro: #0f1c2e;
  --sfondo-nav: #374357;
  --sfondo-div: #1f2b3e;
  --sfondo-list: #4d648d;
}

html,
body {
  background-color: var(--sfondo-div) !important;
  scroll-behavior: smooth;
}
